/* Hier wird alles auf der Website um den Canvas herum gestylt */

body {
    background-color: rgb(35, 35, 35);
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.3rem;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 10px;
}

a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    color: white;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: white;
}

.menu {
    display: flex;
    align-self: flex-end;
}

#zurueck {
    margin-top: 30px;
}

.bildgruppe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.entwurf {
    width: 400px;
    height: auto;
    padding: 20px;
}

.videos {
    margin-left: 40px;
    padding: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    cursor: pointer;
    line-height: 0px;
}

.videosanna {
    opacity: 40%;
}

.videosanna:hover {
    opacity: 100%;
}

.videosceline {
    opacity: 40%;
}

.videosceline:hover {
    opacity: 100%;
}

.videoslarissa {
    opacity: 40%;
}

.videoslarissa:hover {
    opacity: 100%;
}