/* Hier wird alles auf der Website um den Canvas herum gestylt */

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    color: rgb(146, 146, 146);
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
}

a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    color: rgb(146, 146, 146);
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

a:visited {
    text-decoration: none;
}

.menu {
    display: flex;
    align-self: flex-end;
}

#zurueck {
    margin-top: 30px;
}

.bildgruppe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.entwurf {
    width: 400px;
    height: auto;
    padding: 20px;
}

.video_larissa {
    margin-left: 40px;
    padding: 0;
    display: flex;
    position: absolute;
    flex-direction: row;
    opacity: 40%;
    cursor: pointer;
}

.video_larissa:hover {
    opacity: 100%;
}